rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /blips/{imageId} {
      allow read: if true;  // Anyone can view blip images
      allow write: if request.auth != null;  // Only authenticated users can upload
    }
    match /users/{userId}/{imageId} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.uid == userId;
    }
    match /avatars/{imageId} {
      allow read: if true;  // Anyone can view avatars
      allow write: if request.auth != null && imageId.matches(request.auth.uid + '_.*');  // Only allow users to upload their own avatars
    }
  }
} 